<<<<<<< HEAD
.modal-footer {   border-top: 0px; }
a.export, a.export:visited {
    text-decoration: none;
    color:#000;
    background-color:#ddd;
    border: 1px solid #ccc;
    padding:8px;
}
=======
.modal-footer {   border-top: 0px; }
>>>>>>> 7bed89d4f14fc21d49155e46c80c554ab012e6e5
